*{
    margin: 0px;
    padding: 0%;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #323232;
    padding: 40px;
    
}
.container{
    background-color:#DDD0C8;
    min-height: 400px;
    width: 300px;
    border-radius: 2rem;
    text-align: start;
    padding: 2rem;

}

.form{
   margin: 2rem;


}
.form ,select,input,button{
    width: 90%;
    word-spacing: 1rem;
    border-radius: 0.5rem;
    border: none;
    outline: none;
    
}
.form input{
    border :1px solid lightgray;
    font-size: 20px;
    padding-inline: 4px;

}
.dropdown{
    display: flex;
    
   justify-content: space-between;
   margin-top: 2rem;
}
.dropdown i{
    padding: 3rem;
    font-size: 1.5rem;
}


.select-container img{
    max-width: 40px;
}
.select-container select{
    font-size: 1rem;
    
}

.msg{
    margin: 1px;

}
.btn{
    height: 30px;
    width: 250px;
    border: 2px solid lightgray;
    color: black;
    background:#B7C3F3;
}